<form action = "<%= post_comments_path(post)%>" method="post" >
    <input type = "hidden" name = "authenticity_token">

    <input name="comment[context]", placeholder="Type your comment here">

    <input type = "submit" value = "Submit">
</form>