<form action = "<%= post_comments_path(post)%>" method="post" >
    <input type = "hidden" name = "authenticity_token">

    <textarea name="comment[context]" rows="6" cols="12"></textarea>

    <input type = "submit" value = "Submit">
</form>