<nav class="navbar navbar-expand-lg bg-dark d-flex flex-row justify-content-between ">
    <h1 class="text-white m-2 fs-4"> Wisp </h1>
    <div>
        <%= link_to "Sign up", new_registration_path(resource_name), class: "text-white text-decoration-none m-3 link-warning" %>
        <%= link_to "Log in", new_session_path(resource_name), class: "text-white text-decoration-none m-3 link-warning" %>
    </div>
</nav>