<% @post.each do |p|%>
    <h1><%= p.title %></h1>
    <%= link_to "Show me this post", post %>
<%end %>
<%= link_to "New Post", new_post_path%>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
