<%= render "nav"%>

<h1 class="text-center mt-3">Welcome to the Wisp Social Media</h1>


<div id="posts">
  <% @posts.each do |post| %>
  <div class="container-fluid d-flex w-100 justify-content-center">
    <div class="border bg-white w-25 d-flex flex-column align-items-start p-3 mt-3 shadow-sm p-3 mb-5 bg-body rounded">
    <h1><%= post.title %></h1>
    <p> <%= post.content%> </p> 
    </div>
  </div>
  <% end %>
</div>
